.main-body{
    font-family: 'Roboto';
    .home{
        padding-top: 5rem;
        h1{
            text-align: center;
            padding-bottom: 40px;
            text-transform: uppercase;
            font-size: xx-large;
        }
        
    }

    .card{
        text-align: center;
        padding-top: 3rem;
        display: flex;
        justify-content: space-around;
       
        h1{
            text-transform: uppercase;
            font-size: large;

        }

        .card1{
         box-shadow:0 4px 8px 0 rgba(0,0,0,0.4);
         transition: 0.3s;
         height:250px;
         width: 250px;
        }

        .card1:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
        }

        .card2{
         box-shadow:0 4px 8px 0 rgba(0,0,0,0.4);
         transition: 0.3s;
         height:250px;
         width: 250px;
        }

        .card2:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
        }


        .card3{
         box-shadow:0 4px 8px 0 rgba(0,0,0,0.4);
         transition: 0.3s;
         height:250px;
         width: 250px;
        }

        .card3:hover{
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
        }
    }
}