
.section-heading {
  text-align: center;
  margin-bottom: 2rem;
  align-items: center;

   h1 {
  font-size: xx-large;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
 }
}

.contact {
  padding-top: 10rem;
  background-color:white;
  margin-bottom: 10px;
  
}

form {
  padding-top: 15px;
  padding-left: 1rem;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,1.0);
}

form:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1.0);
    transition: 0.3s;
}

form label {
  font-size: 16px;
}

input,
select,
textarea {
  margin-block-start: 10px;
  width: 95%;
  padding: 1rem;
  margin-bottom: 10px;
  border: 1px thick black;
}

input[type="submit"] {
  width: initial;
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 650ms;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #ffe838;
}
/*End contact*/

/*Start footer*/
.copyright {
  color: white;
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 2rem 0;
  position: absolute;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: white;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
  transition: 0.3s;
}

.up:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);

}

.up i {
  color:black;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.2rem;
}
